body {
    /* background: white !important;
    padding: 20px !important; */
}

input {
    /* background: red !important; */
}

/* button */
input[type=submit] {
    position: relative;
}

.bunnyPassBlocker {
    animation: buttonAnimation 2s infinite alternate;
    transition: 0.3;
}

@keyframes buttonAnimation {
    0% {
        transform: scale(0.8);
        margin-top: 40px;
    }
    100% {
        transform: scale(1);
        margin-top: 30px;
    }
}


/* button:hover {
    top: -50px;
    left: 200px;
    animation: buttonAnimation 2s;
    transition: 0.3s;
} */

/* @keyframes buttonAnimation {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(20);
    }
}
 */