* {
  box-sizing: border-box;
}

input {
  background: red !important;
}

header {
  display: flex;
  background-color: #001143;
  padding: 10px;
  align-items: center;
}

#logo {
  height: 40px;
  width: 40px;
}

#logo-text {
  font-size: 24px;
  color: #fff;
  padding-left: 10px;
}

body {
  background-color: #bcbee7;
  width: 300px;
  height: 600px;
  margin: 0px;
}

span {
  background-color: aquamarine;
}

.question-change {
}
