.App {
  color: white;
  text-align: center;
}

.container {
  width: 15rem;
  height: 15rem;
  background-color: blue;

}

.title {
  width: 50 px;
  height: 50 px;
  background-color: orange;

}

.button-right {
  right: 100px
}

#header span {
  margin: 0 20px;
}